
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="bgIndex" class="container"> </div>

<div class="container-fluid" id="aboutContent">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
            <img src="~/Media/Group.jpg" alt="Group Image" id="aboutImg" />
            <h2 class="text-capitalize text-center titanHeader" id="aboutH2">Vietnam Travel Overview</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="text-capitalize">About Us</h3>
                    <p>
                       Nhóm 5.
                        <br />
                      Gồm các thành viên: Nguyễn Minh Phương, Hồ Đức Vũ.
                       <br />
                       Mã số sinh viên: 106200241, 106200284.
                        <br />
                       Khoa Điện Tử - Viễn Thông.
                        <br />
                       Đại học Bách Khoa Đà Nẵng.
                    </p>
                </div>

                <div class="col-md-4">
                    <div id="social">
                        <h3 class="text-capitalize">Mạng xã hội</h3>
                        <ul>
                            
                                <div class="btn-group" role="group" aria-label="...">
                                    <a href="https://www.facebook.com/profile.php?id=100034615394818"><i class="fa fa-facebook-square socialHover" aria-hidden="true"></i> Nguyễn Minh Phương </a>
                                </div>
                            
                            
                                <div class="btn-group" role="group" aria-label="...">
                                    <a href="https://www.facebook.com/profile.php?id=100013784401133"><i class="fa fa-facebook-square socialHover" aria-hidden="true"></i> Hồ Đức Vũ </a>
                                </div>
                            
                           
                        </ul>
                        
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

